{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Manuel Yoseph Ray</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  <style>
      .page-top6{
          background-image: url("{% static 'foto/bg5.jpeg' %}");  
          background-size: cover;
          height: fit-content;
          margin-top: 100px;
      }
      .needs-validation{
        padding-left: 100px;
        padding-right: 100px;
        padding-top: 100px;
      }
        </style>
</head>
<body class="page-top6">
  
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="#page-top"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a href="/schedule/" class="nav-link js-scroll-trigger" ><Form:post>Schedule</Form:post><span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </div>
      </nav>
      <div class="row">
          <div class="col-lg-12">
              <form class="css" action="{% url 'schedule_create' %}" method="post">
                  {% csrf_token %}
                  <div class="form-row">
                      <div class="col-sm-1"></div>
                      <div class="form-group col-sm-10 tag">
                          {% for fields in form %}
                              {{ fields.label_tag }}
                              <br>
                              {{ fields }}
                          {% endfor %}
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-sm-1"></div>
                      <input type="submit" class="btn btn-primary float-right" value="Add">
                  </div>
              </form>                
          </div>
      </div>

</body>
</html>