{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">
        <title>Manuel Yoseph Ray</title>
        <style>
        .row{
          padding-top: 100px;
          padding-left : 100px;
          padding-right : 100px;
        }
        .page-top7{
          background-image: url("{% static 'foto/bgformfix.jpg' %}");
          background-size: cover;
          height: fit-content;
        }
        .lol{
          -webkit-text-fill-color: white;   
        }
        </style>
      </head>
<body class="page-top7">
    <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
        <div class="container">
          <a class="navbar-brand" href="#page-top"></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item dropdown">
                <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
             </li>
              <li class="nav-item">
                <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
              </li>
          </ul>
        </div>
      </div>
      </nav>
      <div class="row lol">
          <table class="table tag">
              <thead>
              <tr>
                  <th scope="col" >#</th>
                  <th scope="col">Tanggal</th>
                  <th scope="col">Jam</th>
                  <th scope="col">Nama Kegiatan</th>
                  <th scope="col">Tempat</th>
                  <th scope="col">Kategori</th>
                  <th scope="col">Pilihan</th>
              </tr>
              </thead>
              <tbody>
                  {% for schedule in schedules %}
                      <tr>
                          <th scope="row">{{forloop.counter}}</th>
                          <td>{{ schedule.date.date }}</td>
                          <td>{{ schedule.time}}</td>
                          <td>{{ schedule.activity }}</td>
                          <td>{{ schedule.place }}</td>
                          <td>{{ schedule.category }}</td>
                          <td><a class="btn btn-danger" href="{% url 'delete' schedule.id %}" >Delete</a></td>
                      </tr>
                  {% endfor %}
              </tbody>
          </table>

      </div>
      <div class="row">
          <div class= 'col-lg-2'>

          </div>
          <div class = 'col-lg-10'>
              <div class = 'form-group'>
                  <a href="{% url 'schedule_delete' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Clear</button></a>
                  <a href="{% url 'schedule_create' %}"><button type="button" class= "btn btn-secondary btn-lg btn-sm">Create</button></a>
              </div>
          </div>
      </div>


  


</body>
</html>