<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">
    <title>Manuel Yoseph Ray</title>
  </head>
  <body class="page-top3">
        
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="/schedule/" class="nav-link js-scroll-trigger" ><Form:post>Schedule</Form:post><span class="sr-only">(current)</span></a>
                </li>
               
                
              </ul>
            </div>
          </div>
          </nav>
          <section class="grid">
              <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                    <h1>Education</h1><br><br><br>
                    <ul>
                        <li>SD Budi Mulia Bogor</li><br>
                        <li>SMP Budi Mulia Bogor</li><br>
                        <li>SMA Negeri 39 Jakarta</li><br>
                        <li>Universitas Indonesia</li>
                    </ul>
                  </div>
                  <div class="col-md-6">
                    <h1>Experiences</h1><br><br><br>
                    <ul>
                        <li>Staff  of Stage at Compfest</li><br>
                        <li>Staff of Event at Even Semester’s Graduation</li><br>
                        <li>Data Analyst Intern at PT Karpa Imaji Labs</li><br>
                    </ul>
                  </div>
              </div>
              </div>
          </section>

          </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body><style>
.page-top3{
    background-image: url("{% static 'foto/bgexp.jpeg' %}");
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
  
}
  </style>

}
</html>