<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/PPW3css.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Manuel Yoseph Ray</title>
    </head>
        <body class="page-top4">
                
      <nav class="navbar navbar-expand-lg navbar-light bg-secondary fixed-top" id="mainNav">
          <div class="container">
            <a class="navbar-brand" href="#page-top"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                  <a href="/" class="nav-link js-scroll-trigger" >Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/experiences/" class="nav-link js-scroll-trigger" >Profile <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/education/" class="nav-link js-scroll-trigger" >Education & Experience <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/contact/" class="nav-link js-scroll-trigger" >Contact <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a href="/warning/" class="nav-link js-scroll-trigger" >Warning <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a href="/schedule/" class="nav-link js-scroll-trigger" ><Form:post>Schedule</Form:post><span class="sr-only">(current)</span></a>
                </li>
                       
                        
                      </ul>
                    </div>
                  </div>
                  </nav>

                  <div class="container">
                      <ul class="list-group">
                          <p><i class="fa-3x fab fa-youtube" onclick="window.location.href='https://www.youtube.com/channel/UCaKLg1ELiX0zTJ6Je3c5esA'";>  manuelyosephray</i></p> 
                          <p><i class="fa-3x fab fa-instagram" onclick="window.location.href='https://www.instagram.com/manuelyosephray/?hl=en'";> manuelyosephray</i></p> 
                          <p><i class="fa-3x fab fa-twitter-square" onclick="window.location.href='https://twitter.com/manuelyray'";> manuelyray</i></p>
                          <p><i class="fa-3x fab fa-linkedin" onclick="window.location.href='https://www.linkedin.com/in/manuelyosephray/'";> Manuel Yoseph Ray</i></p>
                          <p><i class="fa-3x fab fa-facebook-square" onclick="window.location.href='https://www.facebook.com/manuel.raypanjaitan'";> Manuel Yoseph Ray</i></p>
                      </ul>
                    </div>

                 

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
  <style>
  .page-top4{
    background-image: url("{% static 'foto/contact.jpg' %}");
    background-size: cover;
    height: fit-content;
    margin-top: 100px;
  }
.fa-youtube{
    margin-left: 150px;
    margin-top: 250px;
}

.fa-instagram{
    margin-left: 150px;
    margin-top:10px;    
}

.fa-twitter-square{
    margin-left: 150px;
    margin-top:10px;
}

.fa-linkedin{
    margin-left: 150px;
    margin-top:10px;
}
.fa-facebook-square{
    margin-left: 150px;
    margin-top:10px;
}
    

}</style>
</html>